.container {
    background-image: url(/assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 18%;
    padding-bottom: 5%;
    text-align: center;
}